%header
  %nav#navigation
    %ul
      %li
        %a.icon-home{:href => link_to("")}
          Accueil
      %li
        %a.icon-book{:href => link_to("blog")}
          Articles
      %li
        %a.icon-camera{:href => link_to("galeries")}
          Galeries
      %li
        %a.icon-user{:href => link_to("cv")}
          CV
      %li
        %a.icon-rss{:href => link_to("atom.xml")}
          Atom
      %li
        %a.icon-question-sign{:href => link_to("about")}
          À propos
