%footer
  %nav
    %ul
      %li
        %a{:href => "https://github.com/eunomie/wlt"}
          Propulsé par
          %em.icon-cogs
            Web Log Today
      %li
        %a{:href => link_to("cv")}
          Édité par
          %em.icon-edit
            Sylvain Treutenaere
      %li
        %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/deed.fr"}
          %img{:src => "http://i.creativecommons.org/l/by-sa/3.0/80x15.png", :alt => "Licence Creative Commons"}
%script{:src => link_to("menu.js")}
